<h1>Catfish Importer</h1>
<div class="ajax-url" style="display: none;">{{ ajax_url }}</div>
<h2>Sync a Category</h2>
<form>
  <label for="category">Category:</label>
  <select name='category' id='category'>
    <option value=''>Loading</option>
  </select>

  <label for="limit">Limit:</label>
  <select name='limit' id='limit'>
    <option>1</option>
    <option>2</option>
    <option>5</option>
    <option>10</option>
    <option>25</option>
    <option>50</option>
    <option>100</option>
    <option>250</option>
    <option>500</option>
    <option value="-1">All</option>
  </select>

  <label for="categoryOnExistAction">If Post Exists:</label>
  <select name='categoryOnExistAction' id='categoryOnExistAction'>
    <option value="update">Update Existing</option>
    <option value="delete-insert">Delete then Insert</option>
    <option value="skip">Skip</option>
  </select>

  <input type='submit' name='sync-category' value='Sync'>

</form>

<h2>Sync a URL</h2>
<form>
  <label for="url">URL:</label>
  <input id='url' name='url' placeholder='http://www.stylist.co.uk/life/the-top-15-most-retweeted-posts-by-women-of-2015'/>

  <label for="onExistAction">If Post Exists:</label>
  <select name='onExistAction' id='onExistAction'>
    <option value="update">Update Existing</option>
    <option value="delete-insert">Delete then Insert</option>
    <option value="skip">Skip</option>
  </select>

  <input type='submit' name='sync-url' value='Sync URL'>
</form>

<h2>Status</h2>
<pre class='import-status'>Loading current status: &hellip;</pre>
