<h1>Catfish Importer</h1>

<h2>Manually sync from Catfish to WordPress</h2>

<form>
  <label for="category">Category:</label>
  <select name='category' id='category'>
    <option value=''>Loading</option>
  </select>

  <label for="limit">Limit:</label>
  <select name='limit' id='limit'>
    <option>1</option>
    <option>2</option>
    <option>5</option>
    <option>10</option>
    <option>25</option>
    <option>50</option>
    <option>100</option>
    <option>250</option>
    <option>500</option>
    <option value="-1">Bajillion</option>
  </select>

  <input type='submit' name='sync' value='Sync'>

</form>

<h2>Status</h2>
<pre class='import-status' style='display: nsone;'>Not running</pre>

<script>
jQuery(function() {
  var $ = jQuery
  var $categorySelect = $('select[name=category]')
  var $limitSelect = $('select[name=limit]')
  var $syncButton = $('input[name=sync]')
  var $status = $('.import-status')

  $syncButton.click(onSyncClick)

  listSections()

  function listSections() {
    $.getJSON('{{ ajax_url }}?action=catfishimporter_list_categories', function onListSections(response) {
      $categorySelect.html('')
      response.forEach(function(category) {
        $categorySelect.append($('<option>').html(category))
      })
    });
  }

  function onSyncClick(event) {
    event.preventDefault()
    $status.html('Syncing content\r\n')
    $syncButton.attr('disabled', 'disabled')
    $.post(
      '{{ ajax_url }}?action=catfishimporter_start_sync',
      {
        catfishimporter_category_sitemap: $categorySelect.val(),
        catfishimporter_limit: $limitSelect.val(),

      },
      function onSyncResponse(response) {
        $status.html($status.html() + 'Sync complete, imported: ' + response.posts.length + '\r\n')
        response.posts.forEach(function onPost(post) {
          $status.html($status.html() + 'ID: ' + post.id + ', ' + post.url + '\r\n')
        })
        $syncButton.removeAttr('disabled')
        console.log(response);
      }
    ).fail(function onSyncError(error) {
      $status.html($status.html() + 'Sync failed, see error in developer console')
      $syncButton.removeAttr('disabled')
      console.log(error)
    })
  }
})
</script>
